<nav class="sidebar-container card" [ngClass]="sidebarStatus ? 'sidebar-active' : '' ">
    <div class="list-group">
        <div class="list-group-item list-group-item-action">
            <span>
                <fa-icon icon="home"></fa-icon>
                <span jhiTranslate="global.menu.home">Home</span>
            </span>
        </div>
        <a href="#" class="list-group-item list-group-item-action active">
          My list
        </a>
        <a href="#" class="list-group-item list-group-item-action">Session</a>
        <a href="#" class="list-group-item list-group-item-action">Account</a>
        <a href="#" class="list-group-item list-group-item-action">Settings</a>
      </div>
</nav>
